<!DOCTYPE html>
<html>
<head>
<title>411 Project</title>
       <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!-- JQuery CDN link-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<style>
		input[type=checkbox].float-checkbox{

		margin: 10px 10px 10px 10px;
		cursor: pointer;
		}
	</style>
</head>
<body>

	<script>
	$(document).ready(function checkLogin(){
		var check = {{ logged_in }}
		if (check == 1) 
			document.getElementById("output2").innerHTML = {{ current_login_id }}
			
			// Set listener for temperatureCheckbox. If checked, enable both inputs, else disable.
			$("#temperatureCheckbox").change(function () {
			
			if (this.checked) {
				$("#inputTempMin").prop('disabled', false);
				$("#inputTempMax").prop('disabled', false);
			} else {
				$("#inputTempMin").prop('disabled', true);
				$("#inputTempMax").prop('disabled', true);
			}
		});

			// Set listener for housePriceCheckbox. If checked, enable both inputs, else disable.
			$("#housePriceCheckbox").change(function () {
			if (this.checked) {
				$("#inputHousePriceMin").prop('disabled', false);
				$("#inputHousePriceMax").prop('disabled', false);
			} else {
				$("#inputHousePriceMin").prop('disabled', true);
				$("#inputHousePriceMax").prop('disabled', true);
			}
		});

			// Set listener for crimeCheckbox. If checked, enable both inputs, else disable.
			$("#crimeCheckbox").change(function () {
			if (this.checked) {
				$("#inputCrimeMin").prop('disabled', false);
				$("#inputCrimeMax").prop('disabled', false);
			} else {
				$("#inputCrimeMin").prop('disabled', true);
				$("#inputCrimeMax").prop('disabled', true);
			}
		});



		});



	</script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
  
    </ul>
	</div>
	</nav>

	
	<div class = "text-center">
		<h1 class = "display-1 text-center"><font size = "16"> Where to Live</font></h1>
		
	</div>
	

	<p id = "output2" align = "center"></p>
	
	
	<br></br>
	<br></br>
	
	<h6 class = "display-4 text-center"><font size = "6"></font></h6>

	
	<!-- -->
	
	<form action ="/results" +  method = "POST" >
	
	<!-- Row for min temp, max temp-->
	
	<div class="row justify-content-center">	
		<label class=" text-left col-form-label mr-sm-2">Temperature Range</label>
		<div class="form-group display-4">
			<input type="text" input name = "min_temp" class="form-control mb-2 mr-sm-2 mb-sm-0 text-center" id="inputTempMin">
		</div>
		<div class="form-group display-4">
			<input type="text" input name = "max_temp" class="form-control mb-2 mr-sm-2 mb-sm-0 text-center" id="inputTempMax">
		</div>
		<input class = "float-checkbox" margin-top = 10px type="checkbox" input name = "temp_check" id="temperatureCheckbox" checked>
	</div>
	
	<!-- Row for min median housing price, max median housing price-->
	<div class="row justify-content-center">
		<label class=" text-left col-form-label mr-sm-2">Housing Price Range</label>
		<div class="form-group display-4">
			<input type="text" input name = "min_house" class="form-control mb-2 mr-sm-2 mb-sm-0 text-center" id="inputHousePriceMin" disabled>
		</div>
		<div class="form-group display-4">
			<input type="text" input name = "max_house" class="form-control mb-2 mr-sm-2 mb-sm-0 text-center" id="inputHousePriceMax" disabled>
		</div>
		<input class = "float-checkbox" margin-top = 10px type="checkbox" input name = "house_check" id="housePriceCheckbox">
	</div>
	
	<div class="row justify-content-center">
		<label class=" text-left col-form-label mr-sm-2">Crimes Reported Range</label>
		<div class="form-group display-4">
			<input type="text" input name = "min_crime" class="form-control mb-2 mr-sm-2 mb-sm-0 text-center" id="inputCrimeMin" disabled>
		</div>
		<div class="form-group display-4">
			<input type="text" input name = "max_crime" class="form-control mb-2 mr-sm-2 mb-sm-0 text-center" id="inputCrimeMax" disabled>
		</div>
		<input class = "float-checkbox" margin-top = 10px type="checkbox" input name = "crime_check" id="crimeCheckbox">
	</div>
	
		
		<input type="hidden" name="login_id" value= {{ current_login_id }} />
		
		<div class="row justify-content-center">
		<button type="submit" class="btn btn-primary text-center">Submit</button>
		
		</div>
	</form>
	
	<br></br>
	
	

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>